@import 'reset';
@import 'variables';
@import 'font';

// GENERAL

body {
    font-family: "h-textbook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.25;
    margin: 0 0 1.875rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

p a {
    border-bottom: 1px solid #000;

    &:hover {
        border-bottom: none;
    }
}

li a:hover {
    border-bottom: 1px solid #000;
}

h2 {
    position: absolute;
    font-size: 4em;
    margin-left: -4px;
    padding-top: 1rem;
    letter-spacing: -.02em;
}

h3 {
    margin-bottom: $lineHeight;
}

.em-dash {
    letter-spacing: -.3em;
}

article p + p {
    margin-top: $lineHeight;
}

i {
    font-style: italic;
}


// SIDEBAR

aside {
    width: $menuWidth;

    & > div {
        // position: sticky;
        top: 2rem;
    }

    margin-left: 2.5rem;
}

li > ul {
    margin-left: 1em;
    text-indent: -1em;
}

.visit {
    margin-top: $lineHeight;
}

#menu {
    margin-top: $lineHeight;
    overflow: hidden;

    & > ul > li:first-of-type {
        text-transform: uppercase;
    }

    & > ul > li > a {
        margin-left: 1em;
    }
}

// CONTENT 

main {
    flex: 1;
}

.images {
    max-width: 1280px;
    margin-left: $descriptionWidth + $gutter;
}

.img-wrapper { 
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    margin-bottom: 2%;
}

img {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 750ms;

    &.lazyloaded {
        opacity: 1;
    }
}

.project-description {
    float: left;
    width: $descriptionWidth;
    // position: sticky;
    top: 2rem;
}

.active {
    color: lime;
    pointer-events: none;
}

.projects {
    & > div:not(:first-of-type) {
        padding-top: 2rem;
    }

    & > div:first-of-type {
        // padding-top: 2rem;
    }
}

.specifications, .features {
    margin-top: $lineHeight;
}

.specifications {
    text-indent: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.features, .visit {
    text-indent: 0;
}

.about-wrapper, .content-wrapper {
    padding: 0 2.5rem;
}


// ABOUT 

.about-wrapper {
    width: 100%;
    font-size: 2em;
    line-height: 1.2em;
    padding-top: 2rem;
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;

    .about {
        margin-right: 1em;
        max-width: 960px;
    
        p {
            max-width: 600px;
            font-size: 1.7em;
        }
    
        p + p {
            text-indent: 0;
        }
    
        p:first-child {
            margin-bottom: $lineHeight;
        }
    
        article {
            padding-top: 2rem;
        }
    }

    .language-change a {
        display: block;
    }
}

// FOOTER

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    
    a svg {
        display: none;
        width: 60px;
        height: 60px;
    }
}


// MEDIA QUERIES

@media screen and (max-width: 1024px) {
    
    .project-description {
        float: none;
        width: auto;
        margin-bottom: 1.25rem;
        position: static;
    }
    
    .images {
        margin-left: 0;
    }
    
}

@media screen and (max-width: 767px) {

    // GENERAL
    
    body {
        margin: 0;
		font-size: .925em;
    }

    li a:hover {
        border-bottom: none;
    }

    h2 {
        font-size: 2.25em;
        line-height: .9em;
        margin: 0 .925rem .625em;
        padding: 0;
        position: static;
    }

    .about-wrapper, .content-wrapper {
        padding: 0 1rem;
    }

    .projects > div {
        padding-top: 2rem;
    }

    .project:not(:last-of-type) {
        border-bottom: 1px solid #000;
        padding-bottom: 2em;
    }
    
    // SIDEBAR
    
    aside {
        font-size: 1.25em;
        width: 100%;
        position: static;
        float: none;
        margin: 0;
        padding: 1.5em 1em 1em;
        border-bottom: 1px solid #000;
    }
    
    #menu {
        line-height: 1.5em;
    }
    
    // CONTENT
	
    main {
        margin: 0;
        margin-bottom: 1em;
    }

    // ABOUT

    .about-wrapper {
        flex-direction: column-reverse;
        font-size: 1.25em;
        margin: 0;
        padding: 0;
        padding-top: 1em;
        background: black;

        .language-change, .about {
            padding: 0 1em 1em;
            color: #fff;

            a {
                color: inherit;

                &.active {
                    color: lime;
                }
            }
        }

        .language-change {
            border-bottom: 1px solid #fff;

            a {
                display: inline;
                margin-right: .5em;
            }
        }

        .about {
            margin-right: 0;
            margin-top: 1em;

            article {
                padding-top: .75rem;
                margin: -1rem .75rem 1rem;
            }
    
            p {
                font-size: 1.375em;
            }
        }
    }

    .language-change {
        // text-align: center;
        // border-bottom: 1px solid #000;
        // padding-bottom: 1em;
    }

    // FOOTER

    footer a svg {
        display: block;
        fill: magenta;
    }
}


.error {
    padding: 3em;
    line-height: 1;
    width: 100%;
    height: 100vh;

    h1 {
        font-size: 6em;
        letter-spacing: -0.04em;
    }
}